# Réprésentation de l'information

Notre **universe** est divisé en
- espace
- temps

Ce monde contient 3 entités:
- matière
- énérgie
- information

Mais c'est quoi, l'information ?  
Ce sont des nombres, des codes, des symboles, des signaux, des description, etc.

Pour un humain c'est avant tout, ce qu'il voit et ce qu'il entend: 
- information visuelles (images, texte)
- information auditives (sons, langage)

Avec le langage parlé, nous avons inventé des symboles pour designer des entités, des catégories et des objets spécifics, des attributs et des actions.

## Nombres

Le système décimale utilise 10 chiffres pour représenter les nombres. Dans cette sections nous allons construire des séquence de symboles qui représentes un
- nombre naturel
- nombre entier
- nombre rationel
- nombre scientifique

In [1]:
digits = '0123456789'

La fonction `choice` du module `random` permet d'en selectionner une chiffre aléatoire.

In [2]:
from random import choice
choice(digits)

'2'

In [3]:
def d():
    return choice(digits)

Voici trois digits.

In [4]:
d(), d(), d()

('8', '3', '3')

### Nombre naturel
Un nombre naturel est représenté avec une séquence de chiffres.

In [5]:
def n(m):
    s = ''
    for i in range(m):
        s += d()
    return s

Voici trois nombres naturels.

In [6]:
n(3), n(5), n(7)

('917', '42720', '6516585')

### Nombre entier

Les nombre entiers incluent aussi les nombres négatives. Nous utilisons les symboles
- plus `+`
- minus `-`

In [7]:
def z(m):
    sign = choice('-+')
    return  sign + n(m)

Voici trois exemples de nombre entier.

In [8]:
z(2), z(3), z(5)

('-46', '-377', '-87196')

### Nombre rationel

Nombre a virgule flottante

In [9]:
def q(k, m):
    return z(k) + '.' + n(m)

In [10]:
q(2, 3), q(1, 7), q(4, 5)

('-07.470', '+0.4390918', '-5823.33598')

### Nombre scientifique

In [11]:
def e(k, m):
    return q(1, k-1) + 'e' + z(m)

In [12]:
e(3, 1), e(2, 2), e(3, 1)

('+3.13e-8', '-6.3e+00', '+3.17e-0')

## Type int
Python connait deux types de nombres
- int
- float

In [13]:
type(1), type(1.2)

(int, float)

In [14]:
a = z(2), z(3), z(5)
for x in a:
    print(x, '-->', int(x))

-16 --> -16
-356 --> -356
+22963 --> 22963

En Python il n'y a pas de limitation pour le nombre de positions d'un entier.

In [15]:
a = n(50)
int(a)

41202897292098274027477877193047814135821830647208

Nous constatons que l'addtion de 1 donne le bon résultat.

In [16]:
int(a) + 1

41202897292098274027477877193047814135821830647209

## Type float

In [17]:
nombres = e(3, 1), e(2, 2), e(3, 2)
for x in nombres:
    print(x, '-->', float(x))

+5.81e-9 --> 5.81e-09
+5.7e-63 --> 5.7e-63
-6.28e-59 --> -6.28e-59

## Nombre binaire

Les humains ont développé le système de numérotation décimale, sur base de 10, parce que nous avons 10 doigts. Mais on peut representer des nombres dans n'importe quel base. 
En informatique nous utilisons le système binaire, sur base 2

In [18]:
for i in range(6):
    print(f'{i} = {i:04b}')

0 = 0000
1 = 0001
2 = 0010
3 = 0011
4 = 0100
5 = 0101

Ou les nombres binaires à partir de 200.

In [19]:
for i in range(200, 204):
    print(f'{i} = {i:08b}')

200 = 11001000
201 = 11001001
202 = 11001010
203 = 11001011

## Transformation

In [39]:
bin = '11111111'

dec = 0
for x in bin:
    dec *= 2
    if x == '1':
        dec += 1
n

255

In [44]:
d = 255

b = ''
while d > 0:
    b = str(d % 2) + b
    d = d // 2

b

'11111111'

In [46]:
def dec2bin(d):
    b = ''
    while d > 0:
        b = str(d % 2) + b
        d = d // 2
    return b

In [48]:
dec2bin(250)

'11111010'

## Nombres héxadécimales

Le système hexadécimale est un système de numérotation sur base 16. En dehors des 10 chiffres, il utilise les premiers 6 lettres de l'alphabet.

Ce système est très pratiques en informatique, parce qu'il permet de représenter 4 digits binaires avec un seul symbole hexadécimale.

In [20]:
for i in range(16):
    print(f'{i:2} = {i:04b} = {i:X}')

 0 = 0000 = 0
 1 = 0001 = 1
 2 = 0010 = 2
 3 = 0011 = 3
 4 = 0100 = 4
 5 = 0101 = 5
 6 = 0110 = 6
 7 = 0111 = 7
 8 = 1000 = 8
 9 = 1001 = 9
10 = 1010 = A
11 = 1011 = B
12 = 1100 = C
13 = 1101 = D
14 = 1110 = E
15 = 1111 = F

Voici les dernières valeurs d'un octet

In [21]:
for i in range(250, 256):
    print(f'{i} = {i:08b} = {i:02X}')

250 = 11111010 = FA
251 = 11111011 = FB
252 = 11111100 = FC
253 = 11111101 = FD
254 = 11111110 = FE
255 = 11111111 = FF

## Opérations logiques

Le resultat d'une comparaison est une valeur booléenne.

In [22]:
1 > 0

True

Il existent exactement deux valeurs `True` et `False`.

In [23]:
1 == 0

False

## Opérateur not

L'opératueur `not` inverse son argument.

In [24]:
not True

False

## Table de vérité
Nous pouvons itérer et afficher une table de vérité.

In [25]:
for p in (False, True):
    print(p, not p, sep='\t')

False	True
True	False

Nous pouvons ajouter une ligne d'entête

In [26]:
print('p\tnot p')
for p in (False, True):
    print(p, not p, sep='\t')

p	not p
False	True
True	False

## Opérateur and

L'opérateur logique `and` donne `True`, seulement si les deus arguments sont `True`.

In [27]:
False and True

False

Calculons de nouveaux une table de verité.

In [28]:
print('p\tq\tp and q')
for p in (False, True):
    for q in (False, True):
        print(p, q, p and q, sep='\t')

p	q	p and q
False	False	False
False	True	False
True	False	False
True	True	True

## Représentation des caractères

Les charactères sont représenté par des nombres. La fonction `ord` donne le nombre associé à un caractères. Le nombre qui correspond à la lettre **A** majuscule est 65.

In [29]:
ord('A')

65

La fonction inverse est `chr` et nous pouvons vérifier que la lettre correspondant au code suivante (66) est la lettre **B**.

In [30]:
chr(66)

'B'

Voici les caractères usuelles, qui vont de 
- 32 (espace)
- 48-57 (chiffres)
- 65-90 (lettres majuscules)
- 97-122 (lettres minuscules)

In [31]:
for y in range(16):
    for x in range(2, 8):
        i = 16*x + y
        print(i, chr(i), end='\t')
    print()

32  	48 0	64 @	80 P	96 `	112 p
33 !	49 1	65 A	81 Q	97 a	113 q
34 "	50 2	66 B	82 R	98 b	114 r
35 #	51 3	67 C	83 S	99 c	115 s
36 $	52 4	68 D	84 T	100 d	116 t
37 %	53 5	69 E	85 U	101 e	117 u
38 &	54 6	70 F	86 V	102 f	118 v
39 '	55 7	71 G	87 W	103 g	119 w
40 (	56 8	72 H	88 X	104 h	120 x
41 )	57 9	73 I	89 Y	105 i	121 y
42 *	58 :	74 J	90 Z	106 j	122 z
43 +	59 ;	75 K	91 [	107 k	123 {
44 ,	60 <	76 L	92 \	108 l	124 |
45 -	61 =	77 M	93 ]	109 m	125 }
46 .	62 >	78 N	94 ^	110 n	126 ~
47 /	63 ?	79 O	95 _	111 o	127 

## Emoji

In [32]:
ord('😀')

128512

Nous pouvons imprimer les émojis suivantes

In [33]:
for i in range(20):
    print(chr(128512 + i), end='')

😀😁😂😃😄😅😆😇😈😉😊😋😌😍😎😏😐😑😒😓